* {
	margin: 0;
	padding: 0;
	font-size: 12px;
}

#main {
	background-color: azure;
	height: 850px;
	width: 700px;
	margin: 0 auto;
}

#start {
	background-color: bisque;
	height: 153px;
	width: 700px;
}

#left {
	background-color:red ;
	height: 695px;
	width: 180px;
	margin-top: 2px;
	float: left;
}

#right {
	background-color: blue;
	height: 695px;
	width: 515px;
	float: right;
	margin-top: 2px;
}



