#right #right_latest {
	background-repeat: no-repeat;
	background-image: url(../img/latest.jpg);
	padding-top:33px;	
	background-color:white;
}

#right #right_latest li{
	margin-left: 1px;
	float: left;
}

#right #right_recommand {
	background-repeat: no-repeat;
	background-image: url(../img/recommend.jpg);
	background-color: #FFFFFF;
	margin-top: 113px;
	height: 340px;
	padding-top: 34px;
}
#right #right_recommand li{
	margin-top: 10px;
	margin-left: 18.8px;
	float: left;
	text-align: center;
}
#right #right_recommand li a{
	text-decoration: none;
	color: #999999;
}

#right #right_new {
	background-image: url(../img/new.jpg);
	background-repeat: no-repeat;
	margin-top: 3px;
	padding-top:33px;
	height: 150px;
	background-color: white;
}
#right #right_new li{
	float: left;
	margin-left: 20px;
	margin-top: 10px;
	text-align: center;
}

#right #right_new li a{
	text-decoration: none;
	color: #999999;
}

#right #right_tips {
	margin-top: 3px;
	background-image: url(../img/tips.jpg);
	background-repeat: no-repeat;
	padding-top: 33px;
	background-color: #FFFFFF;
	height: 130px;
	
}

#right #right_tips li{
	background-image: url(../img/icon2.gif);
	background-repeat: no-repeat;
	background-position: 0 5px;
	padding-left: 7px;
	float: left;
	width: 180px;
	margin-left:40px;
	margin-top: 7px;
}

#right #right_tips li a{
	text-decoration: none;
	color: #000000;
}

#right #right_tips li a:hover{
	text-decoration: underline;
	color: hotpink;
}
